/* colors */
:root {
    /* color tokens */
    --gray-0: hsl(0 0 100%);
    --gray-1: hsl(255 13% 97%);
    --gray-10: hsl(255 4% 10%);
    --gray-2: hsl(255 9% 93%);
    --gray-3: hsl(255 8% 87%);
    --gray-4: hsl(255 6% 80%);
    --gray-5: hsl(255 3% 69%);
    --gray-6: hsl(255 2% 54%);
    --gray-7: hsl(255 2% 39%);
    --gray-8: hsl(255 3% 29%);
    --gray-9: hsl(255 3% 20%);
    --purple-1: hsl(255 80% 65%);
    --purple-1-a25: hsl(255 80% 65% / 0.25);
    --purple-1-a50: hsl(255 80% 65% / 0.5);
    --purple-2: hsl(255 95% 75%);

    /* light */
    --focus-color: var(--purple-1-a25);
    --background-brand: var(--purple-1);
    --background-layer-1: var(--gray-1);
    --background-layer-2: hsl(0 0 100%);
    --background-layer-3: var(--gray-2);
    --background-layer-4: var(--gray-3);
    --border-color-brand: var(--purple-1);
    --border-color-normal: var(--gray-3);
    --border-color-soft: var(--gray-2);
    --color-brand: var(--purple-1);
    --color-light: var(--gray-6);
    --color-normal: var(--gray-10);
    --color-on-brand: hsl(0 0 100%);
    --color-soft: var(--gray-8);

    /* dark */
    @media (prefers-color-scheme: dark) {
        --focus-color: var(--purple-1-a50);
        --background-brand: var(--purple-1);
        --background-layer-1: var(--gray-10);
        --background-layer-2: var(--gray-9);
        --background-layer-3: var(--gray-8);
        --background-layer-4: var(--gray-7);
        --border-color-brand: var(--purple-1);
        --border-color-normal: var(--gray-7);
        --border-color-soft: var(--gray-8);
        --color-brand: var(--purple-2);
        --color-light: var(--gray-5);
        --color-normal: var(--gray-1);
        --color-on-brand: hsl(0 0 100%);
        --color-soft: var(--gray-3);
    }

    /* whitespace */
    --space-05: 0.2667rem;
    --space-1: 0.5333rem;
    --space-2: 0.6667rem;
    --space-3: 0.8rem;
    --space-4: 1.0667rem;
    --space-5: 1.3333rem;
    --space-6: 1.6rem;
    --space-7: 2.1333rem;
    --space-8: 2.6667rem;
    --space-9: 3.2rem;
    --space-10: 3.7333rem;

    /* radii */
    --radius-1: 0.2667rem;
    --radius-2: 0.4rem;
    --radius-3: 0.5333rem;

    /* font-size */

    --font-size-1: 1rem;
    --font-size-2: 1.3333rem;
}

/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

html{
    font-size: 15px;
}

body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-normal);
    background-color: var(--background-layer-1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Inter";
}

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

input{
    border: 1px solid var(--border-color-normal);
    border-radius: var(--radius-2);
    background-color: var(--background-layer-2);
    padding: var(--space-4);
}

input[type="radio"]{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;;
}



/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/

.c-dialog{
    background-color: var(--background-layer-2);
    padding: var(--space-6);
    width: 33vw;
    height: 100vh;
    max-width: 30rem;
    align-self: flex-start;
    margin-right: 0;
    padding: var(--space-6);
    color: var(--color-normal);
    border: none;
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
}

.c-dialog.is-open{
    transform: translateX(0);
}

.c-dialog.is-close{
    transform: translateX(100%);
}

.c-dialog__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-6);
}

.c-dialog__header h2{
    padding: 0;
    margin: 0;
    font-size: var(--font-size-2);;
}

.c-dialog__header button{
    background-color: var(--background-layer-2);
    color: var(--color-on-brand);
    border-radius: var(--radius-1);
    border: none;
    padding: var(--space-3) var(--space-5);
    font-size: var(--font-size-2);
}

.c-details{
    margin-bottom: var(--space-4);
}

.c-details summary{
    font-weight: bold;
    color: var(--color-soft);
    cursor: pointer;
}

.c-details select {
    margin-top: var(--space-3);
    width: 100%;
    padding: var(--space-3);
    border-radius: var(--radius-1);
    color: var(--color-normal);
    background-color: var(--background-layer-2);
}

.c-pricing__options{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.c-pricing__options li{
    width: 50%;
    list-style: none;
}

.c-pricing__options li input[type="radio"] + label{
    display: block;
    padding: var(--space-3);
    border: 1px solid var(--border-color-normal);
    border-radius: var(--radius-1);
    margin-bottom: var(--space-3);
    cursor: pointer;
}


.c-pricing__options li input[type="radio"]:checked + label{
    display: block;
    padding: var(--space-3);
    border: 1px solid var(--border-color-brand);
    border-radius: var(--radius-1);
    margin-bottom: var(--space-3);
    cursor: pointer;
    &::after{
        content: "";
        top: 0;
        right: 0;
        background-color: transparent;
        background-image: url("../images/icon-check.svg");
        background-size: 100%;
        opacity: 0;
        transition: ;
    }
}

.c-show-button{
    background-color: var(--background-brand);
    color: var(--color-on-brand);
    border-radius: var(--radius-1);
    border: none;
    padding: var(--space-3) var(--space-5);
    font-size: var(--font-size-1);
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/